.workTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

.centered-text {
  text-align: center;
 
}

.workTitle,
.workTitle2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-left: 0; /* Remove margin at smaller viewports */
}

.workDesc,
.workDesc2 {
  font-weight: 300;
  font-size: 1rem;
  margin: 0; /* Remove the top margin */
  text-align: center; /* Center text */
  margin-left: 0; /* Remove margin at smaller viewports */
}

.workEnd,
.workEnd2 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0; /* Remove the top margin */
  text-align: center; /* Center text */
  margin-left: 0; /* Remove margin at smaller viewports */
}

.centered-list {
  list-style: disc;
  margin: 0; /* Remove margin at smaller viewports */
  padding: 0;
}

.centered-list li {
  margin: 10px 0; /* Add spacing between list items */
}

.workImgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0; /* Remove margin at smaller viewports */
  width: 100vw;
  max-width: 65rem;
}

.workImgsContainer {
  background: radial-gradient(circle, #150303, #360606, #660000, #440000);
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: 100px; /* Set the width to match the logo's dimensions */
  height: 100px; /* Set the height to match the logo's dimensions */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.workTextContainer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0vh;
  text-align: center; /* Center text */
}

.workImgs2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0px;
  width: 100vw;
  max-width: 65rem;
}

 

  
  